body {
    text-align: center;
    background-color: pink;
    color: aliceblue;
}

.borda{
    border: 5px solid rgb(247, 247, 247);
    margin: 5px;
    padding: 5px;
    display: inline-block;

}
.borda2{
    text-align: right;
     border: 5px solid rgb(249, 240, 246);
    display: inline-block;
    right:20px;
}
.x{
    text-align: left;
}
.img{
    position:absolute;
    top: 20px;
    left: 20px;
}