*{
    box-sizing: border-box;
}

body {
background-color: rgb(255, 255, 255);
color: rgb(0, 0, 0);
font-family:arial,sans-serif;
text-align:center;
border: 10px solid rgb(238, 42, 120);
margin: 10px;
padding: 10px;
}
    ul,ol {
        text-align:left;
    }
    a {
        color:rgb(212, 89, 159);
    }
    .gabi {
        position: absolute;
        top: 20px;
        right: 20px;
    }
    .sublinhado {
        text-decoration: underline;
        text-decoration-color: rgb(223, 61, 131);
    }
    .gabi2{
        position:absolute;
        top:20px;
        left: 20px;
    }
    .loja-fisica {
        color: rgb(226, 43, 153);
        text-decoration: underline;
        text-decoration-color: rgb(209, 108, 216);
    }
